ul {
  list-style-type: none;
}

div {
  border: 1px solid #000;
}

.header {
  top: 0px;
  left: 0px;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  z-index: 100;
  background-color: #fff;
}

.logo {
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  color: MediumAquamarine;
}

.site-title {
  padding: 0 10px;
}

.menu {
  flex-basis: 300px;
  flex-grow: 1;
  justify-content: flex-end;
}

.header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}

nav ul li {
  padding: 0 10px;
}

nav ul li a{
  color: black;
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 75px;
  display: flex;
}

.column {
  margin-top: 40px;
  margin-right: 40px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.headlines {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.main-story .headlines {
  background-image: url(../images/img-story-main.png);
  font-size: 40px;
  height: 300px;
  text-align: left;
}

.story-1 .headlines {
  background-image: url(../images/img-story-1.png);
  height: 300px;
}

.story-2 .headlines {
  background-image: url(../images/img-story-2.png);
  height: 300px;
}

.story-3 .headlines {
  background-image: url(../images/img-story-3.png);
  height: 300px;
}
